[Unit]
Description=sentinel-audio-recorder API server
After=network.target

[Service]
Environment=ALSA_LOG_LEVEL=none
EnvironmentFile=-/etc/sentinel-audio-recorder.env
ExecStart=${SOUNDREC_HOME}/.venv/bin/python ${SOUNDREC_HOME}/src/sentinel_audio_recorder/run_api.py
WorkingDirectory=${SOUNDREC_HOME}
Restart=on-failure
User=%u
Group=%u
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
